# Rossman Sales Forecasting Kaggle Competition

In [1]:
%matplotlib inline
%reload_ext autoreload
%autoreload 2

from IPython.display import HTML, display

from functions_and_modules import *

In [4]:
MAIN = '/Users/s6215054/Desktop/play/rossman_sales_forecasting'
PATH = f'{MAIN}/data'

!ls

README.md
Rossman Sales Forecasting Kaggle Competition.ipynb
Rossman_simple.ipynb
__pycache__
data
fastai_scripts
fit_models.py
functions_and_modules.py
tmp

# Summarize

Date range: 2013-01-01 to 2015-07-31

Levels: Store / date

In [127]:
table_names = ['train', 'store', 'store_states', 'state_names', 
               'googletrend', 'weather', 'test']

In [128]:
tables = [pd.read_csv(f'{PATH}/{fname}.csv', low_memory=False) for fname in table_names]

In [130]:
for tn, t in zip(table_names, tables): 
    display(tn,
            t.shape,
            t.head(), 
            t.columns.tolist(), '-------')

'train'

(1017209, 9)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

['Store',
 'DayOfWeek',
 'Date',
 'Sales',
 'Customers',
 'Open',
 'Promo',
 'StateHoliday',
 'SchoolHoliday']

'-------'

'store'

(1115, 10)

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

['Store',
 'StoreType',
 'Assortment',
 'CompetitionDistance',
 'CompetitionOpenSinceMonth',
 'CompetitionOpenSinceYear',
 'Promo2',
 'Promo2SinceWeek',
 'Promo2SinceYear',
 'PromoInterval']

'-------'

'store_states'

(1115, 2)

   Store State
0      1    HE
1      2    TH
2      3    NW
3      4    BE
4      5    SN

['Store', 'State']

'-------'

'state_names'

(16, 2)

           StateName State
0  BadenWuerttemberg    BW
1             Bayern    BY
2             Berlin    BE
3        Brandenburg    BB
4             Bremen    HB

['StateName', 'State']

'-------'

'googletrend'

(2072, 3)

             file                     week  trend
0  Rossmann_DE_SN  2012-12-02 - 2012-12-08     96
1  Rossmann_DE_SN  2012-12-09 - 2012-12-15     95
2  Rossmann_DE_SN  2012-12-16 - 2012-12-22     91
3  Rossmann_DE_SN  2012-12-23 - 2012-12-29     48
4  Rossmann_DE_SN  2012-12-30 - 2013-01-05     67

['file', 'week', 'trend']

'-------'

'weather'

(15840, 24)

,file,Date,Max_TemperatureC,Mean_TemperatureC,Min_TemperatureC,Dew_PointC,MeanDew_PointC,Min_DewpointC,Max_Humidity,Mean_Humidity,...,Max_VisibilityKm,Mean_VisibilityKm,Min_VisibilitykM,Max_Wind_SpeedKm_h,Mean_Wind_SpeedKm_h,Max_Gust_SpeedKm_h,Precipitationmm,CloudCover,Events,WindDirDegrees
0,NordrheinWestfalen,2013-01-01,8,4,2,7,5,1,94,87,...,31.0,12.0,4.0,39,26,58.0,5.08,6.0,Rain,215
1,NordrheinWestfalen,2013-01-02,7,4,1,5,3,2,93,85,...,31.0,14.0,10.0,24,16,NaN,0.00,6.0,Rain,225
2,NordrheinWestfalen,2013-01-03,11,8,6,10,8,4,100,93,...,31.0,8.0,2.0,26,21,NaN,1.02,7.0,Rain,240
3,NordrheinWestfalen,2013-01-04,9,9,8,9,9,8,100,94,...,11.0,5.0,2.0,23,14,NaN,0.25,7.0,Rain,263
4,NordrheinWestfalen,2013-01-05,8,8,7,8,7,6,100,94,...,10.0,6.0,3.0,16,10,NaN,0.00,7.0,Rain,268

['file',
 'Date',
 'Max_TemperatureC',
 'Mean_TemperatureC',
 'Min_TemperatureC',
 'Dew_PointC',
 'MeanDew_PointC',
 'Min_DewpointC',
 'Max_Humidity',
 'Mean_Humidity',
 'Min_Humidity',
 'Max_Sea_Level_PressurehPa',
 'Mean_Sea_Level_PressurehPa',
 'Min_Sea_Level_PressurehPa',
 'Max_VisibilityKm',
 'Mean_VisibilityKm',
 'Min_VisibilitykM',
 'Max_Wind_SpeedKm_h',
 'Mean_Wind_SpeedKm_h',
 'Max_Gust_SpeedKm_h',
 'Precipitationmm',
 'CloudCover',
 'Events',
 'WindDirDegrees']

'-------'

'test'

(41088, 8)

   Id  Store  DayOfWeek        Date  Open  Promo StateHoliday  SchoolHoliday
0   1      1          4  2015-09-17   1.0      1            0              0
1   2      3          4  2015-09-17   1.0      1            0              0
2   3      7          4  2015-09-17   1.0      1            0              0
3   4      8          4  2015-09-17   1.0      1            0              0
4   5      9          4  2015-09-17   1.0      1            0              0

['Id',
 'Store',
 'DayOfWeek',
 'Date',
 'Open',
 'Promo',
 'StateHoliday',
 'SchoolHoliday']

'-------'

In [ ]:
for t in tables: display(DataFrameSummary(t).summary())

# Data Cleaning / Feature Engineering

In [102]:
train, store, store_states, state_names, googletrend, weather, test = tables

In [103]:
len(train),len(test)

(1017209, 41088)

Turn Holidays to booleans

In [104]:
train.StateHoliday = train.StateHoliday!='0'
test.StateHoliday = test.StateHoliday!='0'

In [106]:
# Join state_names to weather (outer join)
weather = join_df(weather, state_names, "file", "StateName")

In [108]:
googletrend['Date'] = googletrend.week.str.split(' - ', expand=True)[0]
googletrend['State'] = googletrend.file.str.split('_', expand=True)[2]
googletrend.loc[googletrend.State=='NI', "State"] = 'HB,NI'

In [109]:
# Add date features (function is from structure.py in fastai)
add_datepart(weather, "Date", drop=False)
add_datepart(googletrend, "Date", drop=False)
add_datepart(train, "Date", drop=False)
add_datepart(test, "Date", drop=False)

In [111]:
# Pull out special category for Germany
trend_de = googletrend[googletrend.file == 'Rossmann_DE']

### Join data

In [24]:
store = join_df(store, store_states, "Store")
len(store[store.State.isnull()])

0

In [ ]:
# Join and check that all keys in right 
# are present in left (perfect join)

joined = join_df(train, store, "Store")
joined_test = join_df(test, store, "Store")
display(len(joined[joined.StoreType.isnull()]),len(joined_test[joined_test.StoreType.isnull()]))

joined = join_df(joined, googletrend, ["State","Year", "Week"])
joined_test = join_df(joined_test, googletrend, ["State","Year", "Week"])
display(len(joined[joined.trend.isnull()]),len(joined_test[joined_test.trend.isnull()]))

joined = joined.merge(trend_de, 'left', ["Year", "Week"], suffixes=('', '_DE'))
joined_test = joined_test.merge(trend_de, 'left', ["Year", "Week"], suffixes=('', '_DE'))
display(len(joined[joined.trend_DE.isnull()]),len(joined_test[joined_test.trend_DE.isnull()]))

joined = join_df(joined, weather, ["State","Date"])
joined_test = join_df(joined_test, weather, ["State","Date"])
display(len(joined[joined.Mean_TemperatureC.isnull()]),len(joined_test[joined_test.Mean_TemperatureC.isnull()]))

In [26]:
# Drop duplicate columns due to merge
for df in (joined, joined_test):
    for c in df.columns:
        if c.endswith('_y'):
            if c in df.columns: df.drop(c, inplace=True, axis=1)

### Clean NAs

In [28]:
for df in (joined,joined_test):
    df['CompetitionOpenSinceYear'] = df.CompetitionOpenSinceYear.fillna(1900).astype(np.int32)
    df['CompetitionOpenSinceMonth'] = df.CompetitionOpenSinceMonth.fillna(1).astype(np.int32)
    df['Promo2SinceYear'] = df.Promo2SinceYear.fillna(1900).astype(np.int32)
    df['Promo2SinceWeek'] = df.Promo2SinceWeek.fillna(1).astype(np.int32)

We add "CompetitionMonthsOpen" field, limiting the maximum to 2 years to limit number of unique categories.

In [29]:
for df in (joined,joined_test):
    df["CompetitionOpenSince"] = pd.to_datetime(dict(year=df.CompetitionOpenSinceYear, 
                                                     month=df.CompetitionOpenSinceMonth, day=15))
    df["CompetitionDaysOpen"] = df.Date.subtract(df.CompetitionOpenSince).dt.days

In [30]:
for df in (joined,joined_test):
    df.loc[df.CompetitionDaysOpen<0, "CompetitionDaysOpen"] = 0
    df.loc[df.CompetitionOpenSinceYear<1990, "CompetitionDaysOpen"] = 0

In [31]:
on

array([24,  3, 19,  9,  0, 16, 17,  7, 15, 22, 11, 13,  2, 23, 12,  4, 10,
        1, 14, 20,  8, 18,  6, 21,  5])

Same process for Promo dates.

In [32]:
for df in (joined,joined_test):
    df["Promo2Since"] = pd.to_datetime(df.apply(lambda x: Week(
        x.Promo2SinceYear, x.Promo2SinceWeek).monday(), axis=1).astype(pd.datetime))
    df["Promo2Days"] = df.Date.subtract(df["Promo2Since"]).dt.days

In [33]:
for df in (joined,joined_test):
    df.loc[df.Promo2Days<0, "Promo2Days"] = 0
    df.loc[df.Promo2SinceYear<1990, "Promo2Days"] = 0
    df["Promo2Weeks"] = df["Promo2Days"]//7
    df.loc[df.Promo2Weeks<0, "Promo2Weeks"] = 0
    df.loc[df.Promo2Weeks>25, "Promo2Weeks"] = 25
    df.Promo2Weeks.unique()

In [34]:
joined.to_feather(f'{PATH}/joined')
joined_test.to_feather(f'{PATH}/joined_test')

### Durations

In [35]:
def get_elapsed(fld, pre):
    day1 = np.timedelta64(1, 'D')
    last_date = np.datetime64()
    last_store = 0
    res = []

    for s,v,d in zip(df.Store.values,df[fld].values, df.Date.values):
        if s != last_store:
            last_date = np.datetime64()
            last_store = s
        if v: last_date = d
        res.append(((d-last_date).astype('timedelta64[D]') / day1))
    df[pre+fld] = res

In [36]:
# Columns on which we will apply get_elapsed
columns = ["Date", "Store", "Promo", "StateHoliday", "SchoolHoliday"]

In [37]:
# Append rows in test[columns] to end of train[columns]
df = train[columns].append(test[columns])

In [38]:
# Get time elapsed before and after event (see explanation below)

print("SchoolHoliday get elapsed...")
fld = 'SchoolHoliday'

df = df.sort_values(['Store', 'Date'])
get_elapsed(fld, 'After')

df = df.sort_values(['Store', 'Date'], ascending=[True, False])
get_elapsed(fld, 'Before')

print("StateHoliday get elapsed...")
fld = 'StateHoliday'
df = df.sort_values(['Store', 'Date'])
get_elapsed(fld, 'After')
df = df.sort_values(['Store', 'Date'], ascending=[True, False])
get_elapsed(fld, 'Before')

print("Promo get elapsed...")
fld = 'Promo'
df = df.sort_values(['Store', 'Date'])
get_elapsed(fld, 'After')
df = df.sort_values(['Store', 'Date'], ascending=[True, False])
get_elapsed(fld, 'Before')

SchoolHoliday get elapsed...
StateHoliday get elapsed...
Promo get elapsed...

Below, the AfterSchoolHoliday captures data on how many days it has been since the last SchoolHoliday. For example, for row 5136, the date is 2015-09-11 and it has been 7 days since the school holiday on 2015-09-04.

In [39]:
df.head(n=14)

,Date,Store,Promo,StateHoliday,SchoolHoliday,AfterSchoolHoliday,BeforeSchoolHoliday,AfterStateHoliday,BeforeStateHoliday,AfterPromo,BeforePromo
0,2015-09-17,1,1,False,0,13.0,NaN,105.0,NaN,0.0,0.0
856,2015-09-16,1,1,False,0,12.0,NaN,104.0,NaN,0.0,0.0
1712,2015-09-15,1,1,False,0,11.0,NaN,103.0,NaN,0.0,0.0
2568,2015-09-14,1,1,False,0,10.0,NaN,102.0,NaN,0.0,0.0
3424,2015-09-13,1,0,False,0,9.0,NaN,101.0,NaN,9.0,-1.0
4280,2015-09-12,1,0,False,0,8.0,NaN,100.0,NaN,8.0,-2.0
5136,2015-09-11,1,0,False,0,7.0,NaN,99.0,NaN,7.0,-3.0
5992,2015-09-10,1,0,False,0,6.0,NaN,98.0,NaN,6.0,-4.0
6848,2015-09-09,1,0,False,0,5.0,NaN,97.0,NaN,5.0,-5.0
7704,2015-09-08,1,0,False,0,4.0,NaN,96.0,NaN,4.0,-6.0
8560,2015-09-07,1,0,False,0,3.0,NaN,95.0,NaN,3.0,-7.0
9416,2015-09-06,1,0,False,0,2.0,NaN,94.0,NaN,2.0,-8.0
10272,2015-09-05,1,0,False,0,1.0,NaN,93.0,NaN,1.0,-9.0
11128,2015-09-04,1,1,False,1,0.0,0.0,92.0,NaN,0.0,0.0

In [40]:
df = df.set_index("Date")

In [41]:
df.shape

(1058297, 10)

In [42]:
df.head()

,Store,Promo,StateHoliday,SchoolHoliday,AfterSchoolHoliday,BeforeSchoolHoliday,AfterStateHoliday,BeforeStateHoliday,AfterPromo,BeforePromo
Date,,,,,,,,,,
2015-09-17,1,1,False,0,13.0,NaN,105.0,NaN,0.0,0.0
2015-09-16,1,1,False,0,12.0,NaN,104.0,NaN,0.0,0.0
2015-09-15,1,1,False,0,11.0,NaN,103.0,NaN,0.0,0.0
2015-09-14,1,1,False,0,10.0,NaN,102.0,NaN,0.0,0.0
2015-09-13,1,0,False,0,9.0,NaN,101.0,NaN,9.0,-1.0

In [43]:
columns = ['SchoolHoliday', 'StateHoliday', 'Promo']

In [44]:

for o in ['Before', 'After']:
    for p in columns:
        a = o+p
        df[a] = df[a].fillna(0).astype(int)

In [45]:
df.head()

,Store,Promo,StateHoliday,SchoolHoliday,AfterSchoolHoliday,BeforeSchoolHoliday,AfterStateHoliday,BeforeStateHoliday,AfterPromo,BeforePromo
Date,,,,,,,,,,
2015-09-17,1,1,False,0,13,0,105,0,0,0
2015-09-16,1,1,False,0,12,0,104,0,0,0
2015-09-15,1,1,False,0,11,0,103,0,0,0
2015-09-14,1,1,False,0,10,0,102,0,0,0
2015-09-13,1,0,False,0,9,0,101,0,9,-1

### Compute rolling quantities

In [46]:
# Back of rolling window
bwd = (
        df[['Store']+columns].
        sort_index().
        groupby("Store").
        rolling(7, min_periods=1).
        sum()
    )

In [47]:
# Front of rolling window
fwd = (
        df[['Store']+columns].
        sort_index(ascending=False).
        groupby("Store").
        rolling(7, min_periods=1).
        sum()
    )

In [48]:
bwd.drop('Store',1,inplace=True)
bwd.reset_index(inplace=True)
fwd.drop('Store',1,inplace=True)
fwd.reset_index(inplace=True)
df.reset_index(inplace=True)

In [49]:
# Merge all together
df = df.merge(bwd, 'left', ['Date', 'Store'], suffixes=['', '_bw'])
df = df.merge(fwd, 'left', ['Date', 'Store'], suffixes=['', '_fw'])

In [50]:
df.drop(columns,1,inplace=True)

In [51]:
# Feather Save and Load
feather.write_dataframe(df, f'{PATH}/df')
df = feather.read_dataframe(f'{PATH}/df')

In [52]:
df["Date"] = pd.to_datetime(df.Date)

In [53]:
df.columns

Index(['Date', 'Store', 'AfterSchoolHoliday', 'BeforeSchoolHoliday',
       'AfterStateHoliday', 'BeforeStateHoliday', 'AfterPromo', 'BeforePromo',
       'SchoolHoliday_bw', 'StateHoliday_bw', 'Promo_bw', 'SchoolHoliday_fw',
       'StateHoliday_fw', 'Promo_fw'],
      dtype='object')

In [54]:
joined = join_df(joined, df, ['Store', 'Date'])
joined_test = join_df(joined_test, df, ['Store', 'Date'])

In [55]:
# Restricting to cases where sales are positive
joined = joined[joined.Sales!=0]

In [56]:
# Feather Save
joined.reset_index().to_feather(f'{PATH}/joined')
joined_test.reset_index().to_feather(f'{PATH}/joined_test')

### Create Features
Convert features to input compatible with ML algorithms
* Convert categoricals into contiguous integers or one-hot encodings
* normalizing continuous features to standard normal
* ...

In [5]:
# Feather Load
joined = feather.read_dataframe(f'{PATH}/joined')
joined_test = feather.read_dataframe(f'{PATH}/joined_test')

In [10]:
cat_vars = ['Store', 'DayOfWeek', 'Year', 'Month', 'Day', 'StateHoliday', 'CompetitionMonthsOpen',
    'Promo2Weeks', 'StoreType', 'Assortment', 'PromoInterval', 'CompetitionOpenSinceYear', 'Promo2SinceYear',
    'State', 'Week', 'Events', 'Promo_fw', 'Promo_bw', 'StateHoliday_fw', 'StateHoliday_bw',
    'SchoolHoliday_fw', 'SchoolHoliday_bw']

contin_vars = ['CompetitionDistance', 'Max_TemperatureC', 'Mean_TemperatureC', 'Min_TemperatureC',
   'Max_Humidity', 'Mean_Humidity', 'Min_Humidity', 'Max_Wind_SpeedKm_h', 
   'Mean_Wind_SpeedKm_h', 'CloudCover', 'trend', 'trend_DE',
   'AfterStateHoliday', 'BeforeStateHoliday', 'Promo', 'SchoolHoliday']

In [7]:
# Full sample size
n = len(joined); n

844338

In [8]:
dep = 'Sales'
joined = joined[cat_vars+contin_vars+[dep, 'Date']].copy()

KeyError: "['State' 'Events' 'Max_TemperatureC' 'Mean_TemperatureC'\n 'Min_TemperatureC' 'Max_Humidity' 'Mean_Humidity' 'Min_Humidity'\n 'Max_Wind_SpeedKm_h' 'Mean_Wind_SpeedKm_h' 'CloudCover' 'trend'\n 'trend_DE'] not in index"

In [9]:
joined_test[dep] = 0
joined_test = joined_test[cat_vars+contin_vars+[dep, 'Date', 'Id']].copy()

# Convert categorical to category dtype
for v in cat_vars: 
    joined[v] = joined[v].astype('category').cat.as_ordered()
apply_cats(joined_test, joined)

# Convert continuous vars to float32 and fill missing with 0
for v in contin_vars:
    joined[v] = joined[v].fillna(0).astype('float32')
    joined_test[v] = joined_test[v].fillna(0).astype('float32')

KeyError: "['State' 'Events' 'Max_TemperatureC' 'Mean_TemperatureC'\n 'Min_TemperatureC' 'Max_Humidity' 'Mean_Humidity' 'Min_Humidity'\n 'Max_Wind_SpeedKm_h' 'Mean_Wind_SpeedKm_h' 'CloudCover' 'trend'\n 'trend_DE'] not in index"

In [136]:
# Run on a sample
idxs = get_cv_idxs(n, val_pct=150000/n)
joined_samp = joined.iloc[idxs].set_index("Date")
samp_size = len(joined_samp); samp_size

In [137]:
# Run on full dataset
# samp_size = n  # see a few cells above for n
# joined_samp = joined.set_index("Date")

The proc_df function converts all the columns in the dataframe into a numeric type.

In [138]:
df, y, nas, mapper = proc_df(joined_samp, 'Sales', do_scale=True)
yl = np.log(y)

joined_test = joined_test.set_index("Date")
df_test, _, nas, mapper = proc_df(joined_test, 'Sales', 
                                  do_scale=True, skip_flds=['Id'],
                                  mapper=mapper, na_dict=nas)

### Create validation set

In time series data, cross-validation is not random. Instead, our holdout data is generally the most recent data, as it would be in real application. This issue is discussed in detail in this post on our web site.

One approach is to take the last 25% of rows (sorted by date) as our validation set.

In [139]:
train_ratio = 0.75
# train_ratio = 0.9
train_size = int(samp_size * train_ratio); train_size
val_idx = list(range(train_size, len(df)))

In [140]:
train_ratio

An even better option for picking a validation set is using the exact same length of time period as the test set uses - this is implemented here:

In [ ]:
val_idx = np.flatnonzero(
    (df.index <= datetime.datetime(2014,9,17)) & 
    (df.index >= datetime.datetime(2014,8,1)))
# val_idx=[0]

In [70]:
# Feather save

# Modelling

In [71]:
def inv_y(a): return np.exp(a)

def exp_rmspe(y_pred, targ):
    targ = inv_y(targ)
    pct_var = (targ - inv_y(y_pred))/targ
    return math.sqrt((pct_var**2).mean())

In [72]:
max_log_y = np.max(yl)
y_range = (0, max_log_y*1.2)

### RF
* Takes a while

In [86]:
from sklearn.ensemble import RandomForestRegressor

# Split training from validation and convert pandas df
# to numpy array
((val,trn), (y_val,y_trn)) = split_by_idx(val_idx, df.values, yl)

In [87]:
m = RandomForestRegressor(n_estimators=40, max_features=0.99, 
                          min_samples_leaf=2,
                          n_jobs=-1, oob_score=True)
m.fit(trn, y_trn);

In [88]:
preds = m.predict(val)
(
    m.score(trn, y_trn), m.score(val, y_val), 
    m.oob_score_, exp_rmspe(preds, y_val)
)

(0.9719496656806906, 0.0, 0.8727414316617857, 0.10081769748802938)

In [93]:
trn.shape

(149999, 38)

## Notes:

In [76]:
yl.shape

(150000,)

In [77]:
df.shape

(150000, 38)

In [78]:
df.head(3)

,Store,DayOfWeek,Year,Month,Day,StateHoliday,CompetitionMonthsOpen,Promo2Weeks,StoreType,Assortment,...,Min_Humidity,Max_Wind_SpeedKm_h,Mean_Wind_SpeedKm_h,CloudCover,trend,trend_DE,AfterStateHoliday,BeforeStateHoliday,Promo,SchoolHoliday
Date,,,,,,,,,,,,,,,,,,,,,
2015-06-16,257,2,3,6,16,1,25,1,1,1,...,-0.756430,-0.519502,-0.651394,0.413263,-0.194358,0.487305,-0.525077,1.128737,1.115768,-0.489079
2013-10-30,4,3,1,10,30,1,25,1,3,3,...,-0.095984,0.704530,0.700532,-1.400579,0.769911,-0.026011,-0.363976,-0.591499,-0.896244,-0.489079
2014-11-05,593,3,2,11,5,1,25,1,1,3,...,2.190178,-0.964604,-0.651394,0.866723,0.857571,0.487305,-0.170655,-0.407188,1.115768,-0.489079

In [79]:
df.Store.nunique()*df.reset_index().Date.nunique()

1046985

In [80]:
df.shape

(150000, 38)

In [85]:
from pandas import ExcelWriter

writer = ExcelWriter(f'{MAIN}/tmp/rossman_train.xlsx')
df.to_excel(writer,'Sheet1')
writer.save()